body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#bold {
  font-weight: bold;
}

#redessociales a {
  margin-top: 15px;
  float: right;
}



img {
  width: 100%;
  height: auto;
}

 footer {
  background-color: rgb(157, 157, 157);
  min-height: 185px;
}